<div>
  <%= flash[:notice] %>
</div>

<div class="text-center">
  <h1>ようこそ<i class="fa-solid fa-book"></i>Bookersへ!!</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <div class="text-center">
        <p>会員の方はログイン、そうでない方は新規会員登録をお願いいたします。</p>
      </div>
    </div>
  </div>
</div>
