<h1>welcome to Bookers !!</h1>
<p>Bookersではいろんな本について意見、感想、感情を共有し、交換することが出来ます</p>

<div>
  <%= link_to "Log in", new_user_session_path %>
</div>

<div>
  <%= link_to "Sign up", new_user_registration_path %>
</div>
